{% extends "base/base.html" %}


{% block pagehead %}

{% endblock %}



{% block content %}
{%set active_page = 'manage'%}
{%include 'course/partials/nav.html'%}
<br>
<h2>Admins</h2>
<div class="row">
    <div class="col-sm-9">

<nav aria-label="Page navigation example">
  <ul class="pagination">
      {% if admins.has_prev %}
        <li class="page-item"> <a class="page-link" href="{{ url_for('admin.index', page=admins.prev_num) }}">Previous</a></li>
      {% else %}
        <li class="page-item"><a class="page-link btn disabled" href="#">Previous</a></li>
      {% endif %}

      

      {% if admins.has_next %}
        <li class="page-item"> <a class="page-link" href="{{ url_for('admin.index', page=admins.next_num) }}">Next</a></li>
      {% else %}
        <li class="page-item"><a class="page-link btn disabled" href="#">Next</a></li>
      {% endif %}
  </ul>
</nav>

      <div style="overflow-x: scroll;">
        <table class="table " style="width: 1000px">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Pass</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {%for admin in admins.items%}
            <tr>
              <form action="{{url_for('admin.edit', admin_id=admin.id)}}" method="POST">
                <td><input style="" name="admin_name"
                      class="form-control" value="{{admin.name}}"></td>
                <td><input style="" name="admin_email"
                      class="form-control" value="{{admin.email}}"></td>
                <td><input style="" name="admin_password" type="password"
                      class="form-control" value=""></td>
                <td><input style="" class="btn btn-info" type="submit" value="save"></td>
                    <input style="" type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              </form>
              <td><a style="" 
                    class="btn btn-danger" 
                    href="{{url_for('admin.delete', admin_id=admin.id)}}">delete</a></td>
            </tr>
            {%endfor%}
          </tbody>
      </table>
      </div>
      
    </div><!--col sm 9 -->
    <div class="col-sm-3">
        <div class="card">
          <div class="card-header">
            Add Admin
          </div>
          <div class="card-body">
            <form action="{{url_for('admin.add_check')}}" method="POST">
              <div class="form-field">
              {{ form.name.label }} <br>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-info"></i></span>
                  </div>
                  {{ form.name }}
              </div>
              </div>

              <div class="form-field">
              {{ form.email.label }} <br>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                  </div>
                  {{ form.email }}
              </div>
              </div>

              {{ form.submit }}
              {{ form.csrf_token }}
            </form>

          </div>
        </div>
    </div><!--col sm 3-->
</div>
{% endblock %}