
{% extends "base/base.html" %}


{% block pagehead %}

{% endblock %}



{% block content %}
{%include 'course/partials/nav.html'%}
<br>
<p><a 
	class="btn btn-info" 
	href="{{url_for('course.view', course_id=section.course_id)}}">back</a></p>
	<br>
<h3>Section {{section.name}}</h3>

<form action="{{url_for('course.add_subsection_check', section_id=section.id)}}" method="POST">

<div class="form-field">
New {{ form.name.label }} <br>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-scroll"></i></span>
    </div>
    {{ form.name }}
</div>

{{ form.submit }}
{{ form.csrf_token }}
</form>

{% endblock %}