
{% extends "base/base.html" %}


{% block pagehead %}

{% endblock %}



{% block content %}
{%include 'course/partials/nav.html'%}
<a class="btn btn-info" href="{{url_for('course.view_subsection', subsection_id=subsection.id)}}">back</a>
<br>
<br>
<form action="{{url_for('course.subsection_add_homework_check', subsection_id=subsection.id)}}" method="POST" enctype="multipart/form-data">

<div class="form-field">
{{ form.homework_doc.label }} <br>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-book"></i></span>
    </div>
    {{ form.homework_doc }}
</div>

	{% for field, errors in form.errors.items() %}
	<div class="alert alert-error">
	    {{ form[field].label }}: {{ ', '.join(errors) }}
	</div>
	{% endfor %}

{{ form.submit }}
{{ form.csrf_token }}
</form>

{% endblock %}