
{% extends "base/base.html" %}


{% block pagehead %}

{% endblock %}



{% block content %}
{%include 'course/partials/nav.html'%}
{%set active_page = 'manage'%}
<br>
<a class="btn btn-info"
	href="{{url_for('course.index')}}">
	back
</a>
<br><br>
<form action="{{url_for('course.add_check')}}" method="POST">

<div class="form-field">
{{ form.name.label }} <br>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-book"></i></span>
    </div>
    {{ form.name }}
</div>
</div>

<div class="form-field">
{{ form.grade.label }} <br>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-book"></i></span>
    </div>
    {{ form.grade }}
</div>
</div>

{{ form.submit }}
{{ form.csrf_token }}
</form>

{% endblock %}