{% extends "base/base.html" %}


{% block pagehead %}

{% endblock %}



{% block content %}
{%set active_page = 'manage'%}
{%include 'course/partials/nav.html'%}
<br>
<a class="btn btn-info" href="{{url_for('course.add')}}">Add Course</a>

{%if current_user.role == 'admin'%}
<a class="btn btn-info" href="{{url_for('course.add')}}">Add For Others</a>
{%endif%}
<br>
<h1>Courses</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Action</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
{% for course in courses %}
    {%set teacher = User.query.get(course.teacher_id)%}
    <tr>
        <td>{{course.name}}</td>
        <td>{{teacher.name}}</td>
        <td>
            <a class="btn btn-info" href="{{url_for('course.view', course_id=course.id)}}">
                <i class="fa fa-book"></i>
            </a> 
            <a class="btn btn-danger" href="{{url_for('course.delete_check', course_id=course.id)}}"
                onClick="return confirm('Are you sure you wish to delete?');">
                <i class="fa fa-trash"></i>
            </a>
        </td>
        <td>
            {%if course.submitted%}
                <i style="color:green" title="submitted" class="fa fa-check"></i> Submitted 
            {%else%}
                <i style="color:red" title="not submitted"  class="fa fa-hourglass-half"></i> Not submitted 
            {%endif%}
        </td>
    </tr>
{%endfor%}
    </tbody>
</table>

{% endblock %}