

{% extends "base/base.html" %}


{% block pagehead %}
<link rel="stylesheet"
  href="/static/highlightjs/styles/atelier-forest-light.css">

{% endblock %}



{% block content %}
{%include 'course/partials/nav.html'%}
<br>
{% set section = subsection.section%}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{url_for('course.view', course_id=section.course.id)}}">
        {{section.course.name}}</a></li>
    <li class="breadcrumb-item"><a href="{{url_for('course.view', course_id=section.course.id)}}">
        {{subsection.section.name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{subsection.name}}</li>
  </ol>
</nav>
<br>

{%if course.teacher_id == current_user.id or current_user.role == 'admin'%}
<a class="btn btn-info" 
  href="{{url_for('course.subsection_add_text', subsection_id=subsection.id)}}">
  <i class="fa fa-pen-alt"></i> Add text</a> 
<a class="btn btn-info" 
  href="">
  <i class="fa fa-file"></i> Add file</a>
{%endif%}

<br><br>

{%for resource in subsection.resources%}
    
    <a class="badge badge-info" href="">edit</a> 
    <a class="badge badge-danger" href="{{url_for('course.resource_delete', resource_id=resource.id)}}">delete</a><br>
    {%if resource.type == 'text'%}
        {{ render_md(resource.text) | safe }}
    {%endif%}
{%endfor%}

<script src="/static/highlightjs/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}