
{% extends "base/base.html" %}


{% block pagehead %}

{% endblock %}



{% block content %}
{%set active_page='my_courses'%}
{%include 'course/partials/nav.html'%}
<br>



{%if course.teacher_id == current_user.id or current_user.role == 'admin'%}

<form
    method="POST"
    action="{{url_for('course.edit_check', course_id=course.id)}}"
>
<div class="form-group row">
    <label for="course_name" class="col-sm-2 col-form-label">
        <b>Author:{{author.name}}</b></label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="course_name" 
        value="{{course.name}}" name="course_name"> 
    </div>
    <input type="hidden" value="{{csrf_token()}}" name="csrf_token">
    <input 
    style="color: #fff;" 
    type="submit"
    class="btn btn-info col-sm-2 form-control"
    value="Save name">

</div>
</form>

<div>
<a 
    class="btn btn-info" 
    href="{{url_for('course.add_section', course_id=course.id)}}">
    <i class="fa fa-plus"></i> Add section
</a>
<a 
    class="btn btn-danger" 
    href=""
    onClick="return confirm('Are you sure you wish to delete?');">
    <i class="fa fa-trash"></i> Delete
</a>

</div>
{%else%}
<h2>{{course.name}} by {{author.name}}</h2>
{%endif%}

<br>
{%if course_completed(course.id)%}

Course completed. 
    
    {%if certificate_approved(course.id)%}
        <a class="btn btn-info" 
        href="{{url_for('cdn.certificate', course_id=course.id)}}"><i class="fa fa-search"></i> view certificate</a>
    {%elif certificate_requested(course.id)%}
        Certificate being processed
    {%elif not certificate_approved(course.id)%}
        <a class="btn btn-success" href="{{url_for('course.certificate_request', course_id=course.id)}}">Request Certificate</a>
    {%endif%}

{%endif%}
<br>
<br>
{%for section in course.sections%}
    <div class="card">
        <div class="card-header">
            

            {%if course.teacher_id == current_user.id or current_user.role == 'admin'%}
            <form
                method="POST"
                action="{{url_for('course.edit_section_check', section_id=section.id)}}"
            >
            <div class="form-group row">
                <div class="col-sm-8">
                  <input type="text" class="form-control"
                    value="{{section.name}}" name="section_name"> 
                </div>
                <input type="hidden" value="{{csrf_token()}}" name="csrf_token">
                <input 
                style="color: #fff;" 
                type="submit"
                class="btn btn-info col-sm-2 form-control"
                value="Save">

            </div>
            </form>
            <a class="btn btn-info" href="{{url_for('course.add_subsection', section_id=section.id)}}">
                Add chapter
            </a> 
            <a class="btn btn-danger" href="{{url_for('course.delete_section', section_id=section.id)}}"
                onClick="return confirm('Are you sure you wish to delete?');">
                delete
            </a>
            <a class="btn btn-warning" 
            href="{{url_for('course.edit_quiz', section_id=section.id)}}">
                edit quiz
            </a>

            {%else%}
            <b>{{section.name}}</b> &nbsp;&nbsp;&nbsp;
            {%endif%}

        </div>
        <div class="card-body">
            <a class="btn btn-info" href="{{url_for('course.take_quiz', section_id=section.id)}}">take quiz</a>
            {%if section_quiz_completed(current_user, section) %}
                <i style="color:green;" class="fa fa-check-square"></i> quiz completed
            {%endif%}
            <br><br>
            <table class="table">
                <thead>
                    <tr>
                        
                    </tr>
                </thead>
                <tbody>
            {%for subsection in section.sub_sections%}
                <tr><td>
                <a class="btn btn-info" 
                href="{{url_for('course.view_subsection', subsection_id=subsection.id)}}">
                    <i class="fa fa-search"></i>
                </a>&nbsp;&nbsp;
                {{subsection.name}} 
                </td>
                </tr>
            {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <br>
{%endfor%}
{% endblock %}