

{% extends "base/base.html" %}


{% block pagehead %}
<link rel="stylesheet"
  href="/static/highlightjs/styles/atelier-forest-light.css">

{% endblock %}



{% block content %}
{%set active_page='my_courses'%}
{%include 'course/partials/nav.html'%}
<br>
{% set section = subsection.section%}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{url_for('course.view', course_id=section.course.id)}}">
        {{section.course.name}}</a></li>
    <li class="breadcrumb-item"><a href="{{url_for('course.view', course_id=section.course.id)}}">
        {{subsection.section.name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{subsection.name}}</li>
  </ol>
</nav>
<br>

{%if course.teacher_id == current_user.id or current_user.role == 'admin'%}
<a class="btn btn-info" 
  href="{{url_for('course.subsection_add_text', subsection_id=subsection.id)}}">
  <i class="fa fa-pen-alt"></i> Add text</a> 
<a class="btn btn-info" 
  href="{{url_for('course.resource_add_video', subsection_id=subsection.id)}}">
  <i class="fa fa-file"></i> Add video</a>
<a class="btn btn-info"
  href="{{url_for('course.subsection_add_homework', subsection_id=subsection.id)}}">
  <i class="fa fa-plus"></i> Add Homework</a>

<br><br>
Markdown reminder:

{%set instructions = '''# big text
## smaller text
### smaller text

_italic_ **bold** [google.com](https://www.google.com)

- abc
- def
- ghi

```python
print(1)
```

```html
<b></b>
```

```
some text
```

'''%}

<div>
  <div class="row">
    <div class="col">
      {{instructions.replace('\n', '<br>') | safe}}
    </div>
    <div class="col">
      {{ render_md(instructions) | safe }}
    </div>
  </div>
</div>
{%endif%}

<br>

{%for resource in subsection.resources%}
      
    {%if current_user.id == subsection.section.course.teacher_id or current_user.role == 'admin'%}
    <a
      class="badge badge-danger" 
      href="{{url_for('course.resource_delete', resource_id=resource.id)}}"
      onClick="return confirm('Are you sure you wish to delete?');">
      delete
    </a>
    {%endif%}
    <br>
    {%if current_user.id == subsection.section.course.teacher_id or current_user.role == 'admin'%}
      {%if resource.type == 'text'%}
      <div class="row">
        <div class="col">
          <form 
            action="{{url_for('course.resource_text_edit_check', resource_id=resource.id)}}"
            method='POST'>
            <textarea 
            style="margin:5px" 
            name="text_value" 
            class="form-control" 
            rows="10" 
            cols="20">{{resource.text}}</textarea>

            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
            <button class="btn btn-info">save</button>
          </form>
        </div>
        <div class="col">
          {{ render_md(resource.text) | safe }}
        </div>
      </div>
          
          <br>

      {%elif resource.type == 'video'%}
         
         <a href="{{url_for('cdn.resource_video', resource_id=resource.id)}}">{{resource.filename}}</a>
         <br>
         <video controls width="400" height="300">
          <source src="{{url_for('cdn.resource_video', resource_id=resource.id)}}">
          Video tag is not supported in this browser.
        </video>
      {%endif%}
    {%else%}
      {{ render_md(resource.text) | safe }}
    {%endif%}
{%endfor%}

<h4>Homeworks</h4>



<br>
{%for hwork in subsection.homeworks%}
    <a href="{{url_for('cdn.homework', hwork_id=hwork.id) }}">{{hwork.filename}}</a> <br>
{%endfor%}
<br>

<h4>Submit homework</h4>

<form 
  action="{{url_for('course.subsection_submit_homework_check', subsection_id=subsection.id)}}"
  method="POST" 
  enctype="multipart/form-data">

<div class="form-field">
{{ submit_hwork_form.homework_submit.label }} <br>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-book"></i></span>
    </div>
    {{ submit_hwork_form.homework_submit }}
</div>

{{ submit_hwork_form.submit }}
{{ submit_hwork_form.csrf_token }}
</form>

<br><br>

<div class="card">
  <div class="card-header">
    Homework Submitted
  </div>
  <div class="card-body">
    {%for submission in user_homeworks_submitted%}
      <a 
        class="btn btn-info" 
        href="{{url_for('cdn.homework_submitted', submission_id=submission.id)}}">
        <i class="fa fa-file-download"></i>
      </a>
      {{submission.filename}}
      <hr>
    {%endfor%}
  </div>
</div>

<br>

<div class="card">
  <div class="card-header">
    Homework Evaluated
  </div>
  <div class="card-body">
    {%for evaluation in user_homeworks_evaluated%}
      <a 
        class="btn btn-info" 
        href="{{url_for('cdn.homework_evaluated', evaluation_id=evaluation.id)}}">
        <i class="fa fa-file-download"></i>
      </a>
      {{evaluation.filename}} <b>Note:</b> "{{evaluation.notes}}"
      <hr>
    {%endfor%}
  </div>
</div>

<script src="/static/highlightjs/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}