
{% extends "base/base.html" %}


{% block pagehead %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% endblock %}



{% block content %}
{%include 'course/partials/nav.html'%}
<form
    action="{{url_for('auth.change_pass_check')}}"
    method='POST'
>
change password
<input class="form-control" type="password"
    name="password">
<br>
<input class="btn btn-info" type="submit" name="" value="save">
<input type="hidden" name="csrf_token" value="{{csrf_token()}}">
</form>
{% endblock %}