
{% extends "base/base.html" %}


{% block pagehead %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% endblock %}



{% block content %}
{%set active_page='profile'%}
{%include 'course/partials/nav.html'%}
<br>

<div class="container">
    <div class="row">
        <div class="col">
            <canvas id="pie-chart" width="100" height="100"></canvas>
        </div>
        <div class="col">
            <table class="table">
                <tbody>
                    <tr>
                        <td><i class="fab fa-pied-piper-hat"></i></td>
                        <td>{{user.name}}</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-envelope"></i></td>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-coffee"></i></td>
                        <td style="font-style: capitalize;">{{user.role}}</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-chalkboard"></i></td>
                        <td style="font-style: capitalize;">{{num_enrolled}}/{{num_available}}</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-certificate"></i></td>
                        <td style="font-style: capitalize;">{{num_completed}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">

new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: ["To complete","Enrolled", "Completed"],
      datasets: [{
        label: "Population (millions)",
        backgroundColor: ["#c45850", "#8e5ea2", "#3cba9f"],
        data: [{{num_available-(num_completed+num_enrolled)}}, {{num_enrolled}}, {{num_completed}}]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Courses ({{num_available}})'
      }
    }
});

$('#pie-chart').css("width", "500");
$('#pie-chart').css("height", "500");
</script>
{% endblock %}