
{% extends "base/base.html" %}


{% block pagehead %}

{% endblock %}



{% block content %}
{%include 'course/partials/nav.html'%}
{%set active_page = 'manage'%}

<br>
{%if current_user.role=='admin' or current_user.role =='teacher'%}
<a href="{{url_for('course.index')}}" class="btn btn-info"><i class="fa fa-long-arrow-alt-left"></i> back</a>
<br><br>
{%endif%}


<div class="row">
    <div class="col-sm-9">
        <div class="card">
            <div class="card-header">
                {%set teacher = User.query.get(course.teacher_id)%}
                
                {%if current_user.id == course.teacher_id%}
                    <form>
                    <div class="input-group">
                        <input type="text" name="" value="{{course.name}}" class="form-control">
                        <input type="submit" name="" value="save" class="btn btn-info">
                    </div>
                    </form>
                {%else%}
                    <h2>{{course.name}}</h2>
                {%endif%}
                {{teacher.name}}
                {%if current_user.id == course.teacher_id%}
                <br><br>
                <a href="{{url_for('lightcourse.edit_quiz', course_id=course.id)}}" 
                    class="btn btn-warning"><i class="fa fa-pencil-alt"></i> edit quiz</a>
                <a href="{{url_for('lightcourse.delete', course_id=course.id)}}" 
                    class="btn btn-danger"
                    onClick="return confirm('Are you sure you wish to delete?');"><i class="fa fa-trash"></i> delete</a>
                {%endif%}
            </div>
            <div class="card-body">
                <a 
                href="{{url_for('lightcourse.take_quiz', course_id=course.id)}}" 
                class="btn btn-info"><i class="fa fa-question"></i> take quiz</a>
                {%if quiz_completed()%}
                    <i style="color: green" class="fa fa-check-circle"></i> Quiz completed

                    <br><br>
                    {%if certif_approved()%}
                        <a href="{{url_for('cdn.light_certificate', course_id=course.id)}}" 
                            class="btn btn-info">view certificate</a>
                    {%elif request_exists()%}
                        certificate being processed
                    {%else%}
                        <a href="{{url_for('lightcourse.request_certificate', course_id=course.id)}}" class="btn btn-success">request certificate</a>
                    {%endif%}
                {%endif%}
                <br><hr>
                {%for chapter in course.chapters%}
                    
                    {%if current_user.id == course.teacher_id%}
                        <form>
                        <div class="input-group">
                            <a href="{{url_for('lightcourse.view_chapter', chapter_id=chapter.id)}}" class="btn btn-info"><i class="fa fa-book"></i> </a> &nbsp;
                            <input style="z-index: 0" type="text" name="" value="{{chapter.name}}" class="form-control">
                            <div class="input-group-append" style="z-index: 0">
                                <input type="submit" name="" value="save" class="btn btn-info">
                            </div>
                        </div>
                        </form>
                    {%else%}
                         <a href="{{url_for('lightcourse.view_chapter', chapter_id=chapter.id)}}" class="btn btn-info"><i class="fa fa-book"></i> </a> &nbsp;
                         {{chapter.name}}
                    {%endif%}<hr>

                {%endfor%}
            </div>
        </div>
    </div>
    {%if course.teacher_id == current_user.id or current_user.role == 'admin'%}
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                Add Chapter
            </div>
            <div class="card-body">
                <form action="{{url_for('lightcourse.add_chapter_check', course_id=course.id)}}" method="POST">
                    <div class="form-field">
                    {{ form.name.label }} <br>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-info"></i></span>
                        </div>
                        {{ form.name }}
                    </div>
                    </div>
                    {{ form.submit }}
                    {{ form.csrf_token }}
                </form>
            </div>
            
        </div>
    </div>
    {%endif%}
</div>



{% endblock %}