{% extends "base/base.html" %}


{% block pagehead %}

{% endblock %}



{% block content %}
{%set active_page = 'manage'%}
{%include 'course/partials/nav.html'%}
<br>
<h2>Grades</h2>
<br>
<div class="row">
    <div class="col-sm-9">

<div style="overflow-x: scroll;">
<table class="table " style="width:800px">
    <thead>
        <tr>
          <th scope="col">Name</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {%for grade in grades%}
        <tr>
          <form action="{{url_for('student.grade_edit', grade_id=grade.id)}}" method="POST">
            <td><input name="grade_name"
                  class="form-control" value="{{grade.name}}"></td>
            <td><input class="btn btn-info" type="submit" value="save"></td>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          </form>
          <td><a 
                class="btn btn-info" 
                href="{{url_for('student.view', grade_id=grade.id)}}">view students</a></td>
          <td><a 
                class="btn btn-danger" 
                href="{{url_for('student.grade_delete', grade_id=grade.id)}}">delete</a></td>
          
        </tr>
        {%endfor%}
      </tbody>
</table>



</div>
    </div>
    <div class="col-sm-3">
        <div class="card">
          <div class="card-header">
            Add Grade
          </div>
          <div class="card-body">

<form action="{{url_for('student.add_grade_check')}}" method="POST">

<div class="form-field">
{{ form.name.label }} <br>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-paperclip"></i></span>
    </div>
    {{ form.name }}
</div>
</div>

{{ form.submit }}
{{ form.csrf_token }}
</form>

          </div>
        </div>
    </div>
</div>


{% endblock %}